# Global snippets

snippet copyright
Copyright (c) ${1:`!v g:snips_author`} <${2:`!v g:snips_author_email`}>. All Rights Reserved.
$0
endsnippet

snippet date
`!v strftime("%Y-%m-%d %H:%M:%S")`
endsnippet

snippet datez
`!v strftime("%Y-%m-%d %H:%M:%S %z")`
endsnippet

snippet today
`!v strftime("%B %d, %Y")`
endsnippet

snippet week
`!v strftime("%Y, Week %W")`
endsnippet

snippet blog
Title: ${1}
Slug: ${2}
Date: ${3}
Category: ${4}
Tags: ${5}
endsnippet
